DicomLoaderManager/Service References/LocalGeometryResourceServiceReference1/PheonixRt.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PheonixRt.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PheonixRt.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="StructureDataContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Contours" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="FrameOfReferenceUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROIName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPInstanceUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesInstanceUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StructureSetLabel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StructureDataContract" nillable="true" type="tns:StructureDataContract" />
  <xs:complexType name="ContourDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrameOfReferenceUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="VertexBuffer" nillable="true" type="tns:SharedBuffer" />
      <xs:element minOccurs="0" name="VertexCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContourDataContract" nillable="true" type="tns:ContourDataContract" />
  <xs:complexType name="SharedBuffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElementCount" type="xs:long" />
      <xs:element minOccurs="0" name="ElementSize" type="xs:int" />
      <xs:element minOccurs="0" name="ElementTypeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SharedBuffer" nillable="true" type="tns:SharedBuffer" />
  <xs:complexType name="SurfaceMeshDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrameOfReferenceUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="NormalBuffer" nillable="true" type="tns:SharedBuffer" />
      <xs:element minOccurs="0" name="RelatedStructureId" type="ser:guid" />
      <xs:element minOccurs="0" name="TriangleCount" type="xs:long" />
      <xs:element minOccurs="0" name="TriangleIndexBuffer" nillable="true" type="tns:SharedBuffer" />
      <xs:element minOccurs="0" name="VertexBuffer" nillable="true" type="tns:SharedBuffer" />
      <xs:element minOccurs="0" name="VertexCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurfaceMeshDataContract" nillable="true" type="tns:SurfaceMeshDataContract" />
</xs:schema>