LocalResourceTest/Service References/DicomScanServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ScanDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rescan" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>