ResampleEngine/Service References/LocalImageResourceServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocalImageResourceManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ILocalImageResourceManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PheonixRt.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocalImageResourceManager_GetImageResourceIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResourceIds" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageResourceIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResourceIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageIdsBySeries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageIdsBySeries" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageIdsBySeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageIdsBySeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_AddImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_AddImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_RemoveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImage" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_RemoveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImageResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageVolumeResourceIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageVolumeResourceIds" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageVolumeResourceIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageVolumeResourceIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageVolume" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageVolumeBySeriesInstanceUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageVolumeBySeriesInstanceUID" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetImageVolumeBySeriesInstanceUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageVolumeBySeriesInstanceUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_AddImageVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImageVolume" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_AddImageVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_RemoveImageVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImageVolume" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_RemoveImageVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImageVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetPatientIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientIds" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetPatientIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetRepositorySizeGB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositorySizeGB" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_GetRepositorySizeGB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositorySizeGBResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_PrefetchBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:PrefetchBuffer" />
  </wsdl:message>
  <wsdl:message name="ILocalImageResourceManager_ClearPrefetchStack_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearPrefetchStack" />
  </wsdl:message>
  <wsdl:portType name="ILocalImageResourceManager">
    <wsdl:operation name="GetImageResourceIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageResourceIds" message="tns:ILocalImageResourceManager_GetImageResourceIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageResourceIdsResponse" message="tns:ILocalImageResourceManager_GetImageResourceIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageIdsBySeries">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageIdsBySeries" message="tns:ILocalImageResourceManager_GetImageIdsBySeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageIdsBySeriesResponse" message="tns:ILocalImageResourceManager_GetImageIdsBySeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImage" message="tns:ILocalImageResourceManager_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageResponse" message="tns:ILocalImageResourceManager_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/AddImage" message="tns:ILocalImageResourceManager_AddImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/AddImageResponse" message="tns:ILocalImageResourceManager_AddImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/RemoveImage" message="tns:ILocalImageResourceManager_RemoveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/RemoveImageResponse" message="tns:ILocalImageResourceManager_RemoveImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageVolumeResourceIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeResourceIds" message="tns:ILocalImageResourceManager_GetImageVolumeResourceIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeResourceIdsResponse" message="tns:ILocalImageResourceManager_GetImageVolumeResourceIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageVolume" message="tns:ILocalImageResourceManager_GetImageVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeResponse" message="tns:ILocalImageResourceManager_GetImageVolume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageVolumeBySeriesInstanceUID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeBySeriesInstanceUID" message="tns:ILocalImageResourceManager_GetImageVolumeBySeriesInstanceUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeBySeriesInstanceUIDResponse" message="tns:ILocalImageResourceManager_GetImageVolumeBySeriesInstanceUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImageVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/AddImageVolume" message="tns:ILocalImageResourceManager_AddImageVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/AddImageVolumeResponse" message="tns:ILocalImageResourceManager_AddImageVolume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveImageVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/RemoveImageVolume" message="tns:ILocalImageResourceManager_RemoveImageVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/RemoveImageVolumeResponse" message="tns:ILocalImageResourceManager_RemoveImageVolume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetPatientIds" message="tns:ILocalImageResourceManager_GetPatientIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetPatientIdsResponse" message="tns:ILocalImageResourceManager_GetPatientIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositorySizeGB">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetRepositorySizeGB" message="tns:ILocalImageResourceManager_GetRepositorySizeGB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalImageResourceManager/GetRepositorySizeGBResponse" message="tns:ILocalImageResourceManager_GetRepositorySizeGB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrefetchBuffer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/PrefetchBuffer" message="tns:ILocalImageResourceManager_PrefetchBuffer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearPrefetchStack">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalImageResourceManager/ClearPrefetchStack" message="tns:ILocalImageResourceManager_ClearPrefetchStack_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ILocalImageResourceManager" type="tns:ILocalImageResourceManager">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ILocalImageResourceManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetImageResourceIds">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetImageResourceIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageIdsBySeries">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetImageIdsBySeries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/AddImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveImage">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/RemoveImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageVolumeResourceIds">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeResourceIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageVolume">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetImageVolume" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageVolumeBySeriesInstanceUID">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetImageVolumeBySeriesInstanceUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImageVolume">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/AddImageVolume" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveImageVolume">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/RemoveImageVolume" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientIds">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetPatientIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositorySizeGB">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/GetRepositorySizeGB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrefetchBuffer">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/PrefetchBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ClearPrefetchStack">
      <soap12:operation soapAction="http://tempuri.org/ILocalImageResourceManager/ClearPrefetchStack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalImageResourceManager">
    <wsdl:port name="NetNamedPipeBinding_ILocalImageResourceManager" binding="tns:NetNamedPipeBinding_ILocalImageResourceManager">
      <soap12:address location="net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/LocalResourceManager/LocalImageResourceManager1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DEREKSPEEDPC\Derek</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>