MeshingManager/Service References/MeshingEngineServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PheonixRt.MeshingServiceContracts" />
  <xs:element name="MeshStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PheonixRt.MeshingServiceContracts" minOccurs="0" name="request" nillable="true" type="q1:MeshingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeshStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PheonixRt.MeshingServiceContracts" minOccurs="0" name="MeshStructureResult" nillable="true" type="q2:MeshingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>